WcfClientNet/Connected Services/Learn.Clients/Goods1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Linq" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Linq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:43299/Goods?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Learn.Services" />
  <xs:complexType name="PageParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Orderings" nillable="true" type="tns:ArrayOfOrdering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageParameter" nillable="true" type="tns:PageParameter" />
  <xs:complexType name="ArrayOfOrdering">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ordering" nillable="true" type="tns:Ordering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdering" nillable="true" type="tns:ArrayOfOrdering" />
  <xs:complexType name="Ordering">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" type="tns:OrderingDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ordering" nillable="true" type="tns:Ordering" />
  <xs:simpleType name="OrderingDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Asc" />
      <xs:enumeration value="Desc" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderingDirection" nillable="true" type="tns:OrderingDirection" />
  <xs:complexType name="PagedResultOfGoodsDtoPd4vD4jW">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Linq" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GoodsDto" Namespace="http://schemas.datacontract.org/2004/07/Learn.Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Learn.Services" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfGoodsDto" />
      <xs:element minOccurs="0" name="ToltalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedResultOfGoodsDtoPd4vD4jW" nillable="true" type="tns:PagedResultOfGoodsDtoPd4vD4jW" />
</xs:schema>