WcfClientNet/Connected Services/Learn.Clients/Goods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.jmlearn.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.jmlearn.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.jmlearn.com/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:43299/Goods?xsd=xsd0" namespace="http://www.jmlearn.com/" />
      <xsd:import schemaLocation="http://127.0.0.1:43299/Goods?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:43299/Goods?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Learn.Services" />
      <xsd:import schemaLocation="http://127.0.0.1:43299/Goods?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Linq" />
      <xsd:import schemaLocation="http://127.0.0.1:43299/Goods?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGoodsOutService_GetGoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoods" />
  </wsdl:message>
  <wsdl:message name="IGoodsOutService_GetGoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsResponse" />
  </wsdl:message>
  <wsdl:message name="IGoodsOutService_GetGoodsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsById" />
  </wsdl:message>
  <wsdl:message name="IGoodsOutService_GetGoodsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IGoodsOutService">
    <wsdl:operation name="GetGoods">
      <wsdl:input wsaw:Action="http://www.jmlearn.com/IGoodsOutService/GetGoods" message="tns:IGoodsOutService_GetGoods_InputMessage" />
      <wsdl:output wsaw:Action="http://www.jmlearn.com/IGoodsOutService/GetGoodsResponse" message="tns:IGoodsOutService_GetGoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsById">
      <wsdl:input wsaw:Action="http://www.jmlearn.com/IGoodsOutService/GetGoodsById" message="tns:IGoodsOutService_GetGoodsById_InputMessage" />
      <wsdl:output wsaw:Action="http://www.jmlearn.com/IGoodsOutService/GetGoodsByIdResponse" message="tns:IGoodsOutService_GetGoodsById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>